.input {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border-radius: 3em;
  line-height: 1;
} 

.input--small {
  font-size: 12px;
  padding: 10px 16px;
}

.input--medium {
  font-size: 14px;
  padding: 11px 20px;
}

.input--large {
  font-size: 16px;
  padding: 12px 24px;
}